{% extends "layout.html" %}
{% block title %}TODO List - Task{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form action="/tasks/create" method="post">
    <label for="task_name_label" class="form-label">Task Name</label>
    <input type="text" name="task_name" id="name" class="form-control" required>
    <label for="due_date_label" class="form-label">Due Date</label>
    <input type="datetime-local" name="due_date" id="due_date" class="form-control">
    <button class="btn btn-primary" type="submit">Create!</button>
</form>
{% endblock %}