{% extends "layout.html" %}
{% block title %}TODO List{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <div>
        <h1>Welcome to your todo list!</h1>
        <p>please login to see your todos</p>

        <form action="/login" method="post">
            <label for="name" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username" />
            <button type="submit" class="btn btn-primary mt-2">Login</button>
        </form>
    </div>
</div>
{% endblock %}