{% extends "layout.html" %}
{% block title %}Tasks{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<form action="/tasks/create" method="get"></form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Create Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Complete</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="task">
            <td>{{ task.name }}</td>
            <td>{{ task.create_date }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.complete }}</td>
            <td>
                <div>
                    <form action="/tasks/{{task.ID}}" method="get">
                        <button id="view_{{task.ID}}" type="submit" class="btn btn-primary">View</button>
                    </form>
                    <form action="" method="get">
                        <button id="edit_{{task.ID}}" type="button" class="btn btn-warning">Edit</button>
                    </form>
                    <form action="" method="delete">
                        <button id="delete_{{task.ID}}" type="button" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}