{% extends "layout.html" %}
{% block title %}TODO List - Task{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <form action="">
        <label for="" class="form-label">Name</label>
        <input type="text" name="" id="" class="form-control" disabled value='{{task.name}}'>
        <label for="" class="form-label">Created Date</label>
        <input type="text" name="" id="" class="form-control" disabled value='{{task.create_date}}'>
        <label for="" class="form-label">Due Date</label>
        <input type="text" name="" id="" class="form-control" disabled value='{{task.due_date}}'>
        <label for="" class="form-label">Complete</label>
        <input type="checkbox" class="form-check-input" disabled {{ "checked" if task.complete else "" }}>
    </form>

    <form action="/tasks" method="get">
        <button class="btn btn-primary" type="submit">Go Back</button>
    </form>
</div>
{% endblock %}